@{
    Layout = "_Layout";
}

<h1>Add a New National Park</h1>
<hr>
@using (Html.BeginForm())
{
    <input name="StateId" type="hidden" value="@ViewBag.StateId">
    
    <div class="form-group">
        <label for="ParkName">Your Name</label>
        <input name="ParkName" type="text" class="form-control" required>
    </div>
    
    <input type="submit" value="Add a National Park" class="btn btn-primary"/><br><br>
}

@Html.ActionLink("Cancel", "Details", "States", new { id = @ViewBag.StateId })